<h3>About Me</h3>

<ul id="about">
	<li id="name">Tucker Lavell</li>
	<li id="email">
		<a href="mailto:lavellt@oregonstate.edu">
		<i class="far fa-envelope"></i>
		Email</a>
	</li>
	<li id="youtube">
		<a href="https://www.youtube.com/channel/UCHvZcZtqAZP3OvOgXRm6iaw">
		<i class="fab fa-youtube"></i>
		Youtube</a>
	</li>
	<li id="linked in">
		<a href="https://www.linkedin.com/in/tucker-lavell-a94381b8/">
		<i class="fab fa-linkedin"></i>
		LinkedIn</a>
	</li>
	<li id="favorite song">
		Favorite Song:
		<iframe width="560" height="315" 
			src="https://www.youtube.com/embed/SM3jgkChV6M" 
			frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
		</iframe>
	</li>
</ul>